@import '_libs';
@import '_fonts';
@import '_ui';




body {
  min-width: 320px;
  font-family: $ffIntroBoldAlt;
  font-size: 20px;
  line-height: 1.15;
  color: #000000;
  background: #fff;
}






html,
body {
  font-size: 20px;
}



@media (max-width: $lg)  {
  html, body {
    font-size: 16px
  }
}

@media (max-width: $sm)  {
  html, body {
    font-size: 10px
  }
}

.wrapper {
	overflow: hidden;
}


img,
frame {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: px-to-rem(1000);

	@media (max-width: $md) {
		padding-right: px-to-rem(100);
		padding-left: px-to-rem(100);
	}
	@media (max-width: $sm) {
		padding-right: px-to-rem(50);
		padding-left: px-to-rem(50);
	}
	@media (max-width: $xs) {
		padding-right: px-to-rem(30);
		padding-left: px-to-rem(30);
	}
}




.header {
	padding: px-to-rem(35) 0;

	&__row {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-right: px-to-rem(82);
		padding-left: px-to-rem(82);
	}

	&__logo-1 {
		width: px-to-rem(235);
		display: inline-block;
		vertical-align: middle;

		&-img {
			width: 100%;
			height: auto;
		}
	}

	&__logo-2 {
		width: px-to-rem(164);
		display: inline-block;
		vertical-align: middle;

		&-img {
			width: 100%;
			height: auto;
		}
	}

	@media (max-width: $sm) {
		&__row {
			padding-right: 0;
			padding-left: 0;
		}
	}
}

.sec-1 {
	overflow: hidden;

	background: $colorBg1;
	background-image: linear-gradient(to right, $colorBg1 0%, $colorBg1 50%, $colorBg2 50%, $colorBg2 100%);

	border-bottom: 3px solid $colorPink;

	&__cameras {
		padding: px-to-rem(43) 0 0;
		position: relative;

		&-main {
			position: relative;
			z-index: 1;
			display: flex;
			justify-content: space-between;
			align-items: flex-start;
			pointer-events: none;

		}

		&-links {
			position: relative;
			z-index: 0;

			display: flex;
			justify-content: center;
			width: px-to-rem(665);
			min-height: px-to-rem(130);
			margin: px-to-rem(-46) auto 0;
			padding: px-to-rem(36) 0 0;
			overflow-x: hidden;
			border-right: 3px solid $colorPink;
			border-left: 3px solid $colorPink;

			&-box {
				// min-width: px-to-rem(296);
				flex-basis: px-to-rem(296);
				display: flex;
				flex-wrap: wrap;
				flex-direction: column;
				// justify-content: space-between;

				align-items: flex-start;
			}
			&-bottom {
				width: 100%;
				display: flex;
				justify-content: space-between;
				padding: 0 px-to-rem(10);
			}

		}

		&-link-1 {
			position: relative;
			display: block;
			z-index: 2;
			width: 100%;
			margin: 0 0 px-to-rem(8);
			padding: px-to-rem(14) px-to-rem(5);
			font-family: $ffIntroBlackCaps;
			font-size: px-to-rem(20);
			line-height: 1.15;
			text-align: center;
			text-decoration: none;
			color: $colorBlue;
			white-space: nowrap;
			border: 3px solid $colorPink;
			background: none;
			outline: none;
			box-shadow: none;
			
			&::before,
			&::after {
				content: '';
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				height: 3px;
				width: 50vw;
				background: $colorPink;
			}
			&::before {
				right: 100%;
			}
			&::after {
				left: 100%;
			}
		}

		&-link-2 {
			display: inline-block;
			vertical-align: middle;
			font-size: px-to-rem(14);
			text-decoration: underline;
			font-family: $ffIntro;
			text-transform: lowercase;
			font-weight: 400;
			color: $colorBlue;
			outline: none;
		}

		&-link-3 {
			display: inline-block;
			vertical-align: middle;
			font-size: px-to-rem(14);
			text-decoration: underline;
			font-family: $ffIntro;
			text-transform: lowercase;
			font-weight: 400;
			color: $colorBlue;
			outline: none;
		}

	}

	&__cam-1 {
		width: px-to-rem(336);
		display: inline-block;
		vertical-align: middle;
		margin-right: px-to-rem(-39);
		margin-left: px-to-rem(-3);

		&-img {
			width: 100%;
			height: auto;
		}
	}

	&__cam-2 {
		width: px-to-rem(336);
		display: inline-block;
		vertical-align: middle;
		margin-right: px-to-rem(-39);
		margin-left: px-to-rem(-4);

		&-img {
			width: 100%;
			height: auto;
		}
	}

	&__logo {
		width: px-to-rem(309);
		margin-top: px-to-rem(20);
		margin-left: px-to-rem(-4);
		display: inline-block;
		vertical-align: middle;
		pointer-events: visible;

		&-img {
			width: 100%;
			height: auto;
		}
	}


	&__decoration-1 {
		position: absolute;
		z-index: 1;
		top: px-to-rem(40);
		left: px-to-rem(-250);
		width: px-to-rem(372);
		display: inline-block;
		vertical-align: middle;
		pointer-events: none;

		&-img {
			width: 100%;
			height: auto;
		}
	}

	&__decoration-2 {
		position: absolute;
		z-index: 1;
		top: px-to-rem(38);
		right: px-to-rem(-280);
		width: px-to-rem(390);
		display: inline-block;
		vertical-align: middle;
		pointer-events: none;

		&-img {
			width: 100%;
			height: auto;
		}
	}




	&__inf {
		padding: px-to-rem(5) 0 0;


		&-container {
			position: relative;
		}

		&-cols {
			display: flex;
			justify-content: space-between;
			margin: 0 px-to-rem(-68);		
		}

		&-col {
			text-align: center;
			width: 40%;
		}

		&-title {
			display: block;
			margin: 0 0 px-to-rem(17);
			font-family: $ffBruss;
			font-size: px-to-rem(62);
			font-weight: 400;
			color: $colorBlue;
		}

		&-img {
			&-wrap {
				display: block;
				margin: 0 0 px-to-rem(45);
			}
			
			display: inline-block;
			vertical-align: middle;
			width: px-to-rem(296);
			height: auto;
		}

		&-props {
			max-width: px-to-rem(400);
			margin: 0 auto;

			&-title {
				display: block;
				margin: 0 0 px-to-rem(12);
				font-family: $ffIntroBlackCaps;
				font-size: px-to-rem(20);
				font-weight: 400;
				color: $colorBlue;
			}

			&-list {
				display: block;
				margin: 0 0 px-to-rem(12);
				font-family: $ffIntroBoldAlt;
				font-size: px-to-rem(13);
				font-weight: 400;

			}

			&-item {
				margin: 0;

				&:not(:last-child) {
					margin-bottom: px-to-rem(7);	
				}
			}

			&-img {
				&-wrap {
					display: block;
					position: relative;

					&--1 {
						width: px-to-rem(447);
						margin: px-to-rem(-84) 0 0 px-to-rem(12);
					}
					&--2 {
						width: px-to-rem(428);
						margin: px-to-rem(-71)  0 0 px-to-rem(-43);
					}
				}
				
				display: inline-block;
				vertical-align: middle;
				// width: px-to-rem(447);
				width: 100%;
				height: auto;
				max-width: none;

				&--1 {
					
				}
				&--2 {
					
				}
			}
		}

		&-boxes-middle {
			position: absolute;
			top: px-to-rem(150);
			left: 50%;
			transform: translateX(-50%);
			width: px-to-rem(334);	

			&-img {
				width: 100%;
				height: auto;
			}
		}


		&-cloud {
			position: absolute;

			&--1 {
				top: px-to-rem(218);
				left: px-to-rem(-310);
				width: px-to-rem(178);	
			}

			&--2 {
				top: px-to-rem(615);
				left: px-to-rem(-178);
				width: px-to-rem(108);	
			}

			&--3 {
				top: px-to-rem(446);
				right: px-to-rem(-314);
				width: px-to-rem(108);	
			}

			&-img {
				width: 100%;
				height: auto;
			}
		}

	}




	&__bottom {
		margin: px-to-rem(-16) 0 0;
		&-inner {
			position: relative;
		}

		&-box {
			position: relative;
			max-width: px-to-rem(667);
			margin: 0 auto;
			padding: px-to-rem(35) px-to-rem(90) px-to-rem(30);
			border-right: 3px solid $colorPink;
			border-left: 3px solid $colorPink;
			font-size: px-to-rem(13);
			font-weight: 400;
			text-align: center;
			
			&::before,
			&::after {
				content: '';
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				width: px-to-rem(80);
				height: 3px;
				background: $colorPink;
			}
			&::before {
				left: 0;
			}
			&::after {
				right: 0;
			}

			p {
				margin: 0;

				&:not(:last-child) {
					margin-bottom: px-to-rem(15);
				}
			}
		}

		&-heart {
			position: absolute;
			top: px-to-rem(31);
			left: px-to-rem(-50);
			width: px-to-rem(105);	

			&-img {
				width: 100%;
				height: auto;
			}
		}

		&-lightning {
			position: absolute;
			top: px-to-rem(22);
			right: px-to-rem(-37);
			width: px-to-rem(85);	

			&-img {
				width: 100%;
				height: auto;
			}
		}
	}



	@media (max-width: $lg) {
	}

	@media (max-width: $md) {
		
		&__cameras {
			margin: 0 0 px-to-rem(45);
			padding: px-to-rem(60) 0 0;

			&-main {
				margin: 0 0 px-to-rem(35);
			}

			&-links {
				width: 100%;
				min-height: auto;
				margin: px-to-rem(0) auto 0;
				padding: 0;
				border: none;

				&-box {
					flex-basis: px-to-rem(340);
				}

				&-bottom {
					padding: 0 px-to-rem(10);
				}
			}

			&-link-1 {
				width: 100%;
				margin: 0 0 px-to-rem(10);
				padding: px-to-rem(16) px-to-rem(10);
				font-size: px-to-rem(22);

			
				&::before,
				&::after {
					content: none;
					display: none;
				}
			}

			&-link-2 {
				font-size: px-to-rem(16);
			}

			&-link-3 {
				font-size: px-to-rem(16);
			}

		}

		&__decoration-1 {
			top: px-to-rem(440);
			left: px-to-rem(-10);
			width: px-to-rem(230);
		}

		&__decoration-2 {
			top: px-to-rem(447);
			right: px-to-rem(-10);
			width: px-to-rem(215);

		}		

		&__logo {
			margin-top: px-to-rem(440);
			margin-left: px-to-rem(-4);
			display: inline-block;
			vertical-align: middle;
			pointer-events: visible;


			&-img {
				width: 100%;
				height: auto;
			}
		}

		&__inf {
			padding: px-to-rem(5) 0 0;

			&-cols {
				margin: 0 px-to-rem(-48);
			}

			&-col {
				width: 40%;
			}

			&-title {
				margin: 0 0 px-to-rem(25);
				font-size: px-to-rem(50);
			}

			&-img {
				&-wrap {
					display: block;
					margin: 0 0 px-to-rem(45);
				}
				
				width: px-to-rem(266);

			}

			&-props {

				&-title {
					margin: 0 0 px-to-rem(12);
					font-size: px-to-rem(20);
				}

				&-list {
					margin: 0 0 px-to-rem(12);
					font-size: px-to-rem(13);
				}

				&-img {
					&-wrap {
						&--1 {
							width: px-to-rem(280);
							margin: px-to-rem(18) 0 0 px-to-rem(40);
						}
						&--2 {
							width: px-to-rem(305);
							margin: px-to-rem(20)  0 0 px-to-rem(25);
						}
					}

					&--1 {
						
					}
					&--2 {
						
					}
				}
			}

			&-boxes-middle {
				top: px-to-rem(490);
				width: px-to-rem(294);
			}


			&-cloud {
				position: absolute;

				&--1 {
					top: px-to-rem(218);
					left: px-to-rem(-190);
					width: px-to-rem(161);	
				}

				&--2 {
					top: px-to-rem(615);
					left: px-to-rem(-108);
					width: px-to-rem(108);	
				}

				&--3 {
					top: px-to-rem(446);
					right: px-to-rem(-190);
					width: px-to-rem(108);	
				}

			}

		}

		&__bottom {
			margin: px-to-rem(-16) 0 0;

			&-inner {
			}

			&-box {
				max-width: px-to-rem(667);
				margin: 0 auto;
				padding: px-to-rem(46) px-to-rem(50) px-to-rem(35);
				border: none;
				font-size: px-to-rem(14);
				font-weight: 400;
				text-align: center;
				
				&::before,
				&::after {
					content: none;
					display: none;
				}
			}

			&-heart {
				top: px-to-rem(60);
				left: px-to-rem(12);
				width: px-to-rem(80);	
			}

			&-lightning {
				top: px-to-rem(42);
				right: px-to-rem(25);
				width: px-to-rem(65);	
			}
		}		
		
	}

	@media (max-width: $sm) {
		border-bottom: 2px solid $colorPink;

		&__cameras {
			margin: 0 0 px-to-rem(45);
			padding: px-to-rem(50) 0 0;

			&-main {
				margin: 0 0 px-to-rem(35);
			}

			&-links {
				width: 100%;
				min-height: auto;
				margin: px-to-rem(0) auto 0;
				padding: 0;
				border: none;

				&-box {
					flex-basis: px-to-rem(380);
				}

				&-bottom {
					padding: 0 px-to-rem(10);
				}
			}

			&-link-1 {
				padding: px-to-rem(18) px-to-rem(10);
				font-size: px-to-rem(24);
				border: 2px solid $colorPink;
			}

			&-link-2 {
				font-size: px-to-rem(18);
			}

			&-link-3 {
				font-size: px-to-rem(18);
			}

		}

		&__decoration-1 {
			top: px-to-rem(469);
			left: px-to-rem(10);
			width: px-to-rem(200);
		}

		&__decoration-2 {
			top: px-to-rem(470);
			right: px-to-rem(010);
			width: px-to-rem(190);

		}

		&__logo {
			width: px-to-rem(265);
			margin-top: px-to-rem(465);
			margin-right: px-to-rem(-100);
			margin-left: px-to-rem(-107);
		}

		&__inf {
			padding: px-to-rem(5) 0 0;

			&-cols {
				margin: 0 px-to-rem(-25);
			}

			&-col {
				width: 45%;
			}

			&-title {
				margin: 0 0 px-to-rem(25);
				font-size: px-to-rem(40);
			}

			&-img {
				&-wrap {
					display: block;
					margin: 0 0 px-to-rem(40);
				}
				
				width: px-to-rem(230);

			}

			&-props {

				&-title {

				}

				&-list {
					margin: 0 0 px-to-rem(12);
					font-size: px-to-rem(16);
				}

				&-img {
					&-wrap {
						&--1 {
							width: px-to-rem(250);
							margin: px-to-rem(30) 0 0 px-to-rem(30);
						}
						&--2 {
							width: px-to-rem(265);
							margin: px-to-rem(46) 0 0 px-to-rem(45);
						}
					}

				}
			}

			&-boxes-middle {
				top: px-to-rem(500);
				width: px-to-rem(274);
			}

		}

		&__bottom {
			margin: px-to-rem(-16) 0 0;

			&-inner {
			}

			&-box {
				max-width: px-to-rem(667);
				padding: px-to-rem(46) px-to-rem(40) px-to-rem(35);
				font-size: px-to-rem(16);
			}

			&-heart {
				top: px-to-rem(60);
				left: px-to-rem(-39);
				width: px-to-rem(80);	
			}

			&-lightning {
				top: px-to-rem(42);
				right: px-to-rem(-12);
				width: px-to-rem(65);	
			}
		}		
		
	}

	@media (max-width: $xs) {
		&__cameras {

			&-links {
				width: 100%;
				min-height: auto;
				margin: px-to-rem(0) auto 0;
				padding: 0;
				border: none;

				&-box {
					flex-basis: px-to-rem(380);
				}

				&-bottom {
					padding: 0 px-to-rem(10);
				}
			}

			&-link-1 {
				padding: px-to-rem(18) px-to-rem(10);
				font-size: px-to-rem(24);
			}

			&-link-2 {
				font-size: px-to-rem(18);
			}

			&-link-3 {
				font-size: px-to-rem(18);
			}

		}

		&__cam-1 {
			width: px-to-rem(286);
			margin-right: px-to-rem(-39);
			margin-left: px-to-rem(10);
		}

		&__cam-2 {
			width: px-to-rem(286);
			margin-right: px-to-rem(-20);
			margin-left: px-to-rem(-4);
		}

		&__decoration-1 {
			top: px-to-rem(421);
			left: px-to-rem(10);
			width: px-to-rem(180);
		}

		&__decoration-2 {
			top: px-to-rem(421);
			right: px-to-rem(010);
			width: px-to-rem(174);

		}

		&__logo {
			width: px-to-rem(265);
			margin-top: px-to-rem(406);
			margin-right: px-to-rem(-100);
			margin-left: px-to-rem(-100);
		}

		&__inf {

			&-cols {
				margin: 0 px-to-rem(-15);
			}

			&-col {
				width: 45%;
			}


			&-props {


				&-img {
					&-wrap {
						&--1 {
							width: px-to-rem(230);
							margin: px-to-rem(30) 0 0 px-to-rem(20);
						}
						&--2 {
							width: px-to-rem(245);
							margin: px-to-rem(46) 0 0 px-to-rem(33);
						}
					}

				}
			}

			&-boxes-middle {
				top: px-to-rem(553);
				width: px-to-rem(240);
			}

		}

		&__bottom {
			margin: px-to-rem(-16) 0 0;

			&-inner {
			}

			&-box {
				max-width: px-to-rem(667);
				padding: px-to-rem(46) px-to-rem(45) px-to-rem(35);
				font-size: px-to-rem(16);
			}

			&-heart {
				top: px-to-rem(46);
				left: px-to-rem(-29);
				width: px-to-rem(70);	
			}

			&-lightning {
				top: px-to-rem(32);
				right: px-to-rem(-12);
				width: px-to-rem(55);	
			}
		}		
		
	}

}





.sec-2 {
	position: relative;
	z-index: 2;
	padding: px-to-rem(45) 0 ;
	background: #fff;
	border-bottom: 3px solid $colorPink;

	box-shadow: 0px 10px 10px 0px rgba(50, 50, 50, 0.25);


	&__box {
		position: relative;
		text-align: center;
		padding: 0 px-to-rem(90);
	}

	&__title {
		display: block;
		margin: 0 px-to-rem(100) px-to-rem(24);
		font-family: $ffIntroBlackCaps;
		font-size: px-to-rem(20);
		font-weight: 400;
		color: $colorBlue;
	}

	&__text {
		font-size: px-to-rem(13);
		font-weight: 400;
		text-transform: uppercase;
	}


	&__guitar {
		position: absolute;
		top: px-to-rem(50);
		left: px-to-rem(-139);
		width: px-to-rem(211);	
		pointer-events: none;

		&-img {
			width: 100%;
			height: auto;
		}
	}

	&__mail {
		position: absolute;
		top: px-to-rem(8);
		right: px-to-rem(-129);
		width: px-to-rem(161);	
		pointer-events: none;

		&-img {
			width: 100%;
			height: auto;
		}
	}

	@media (max-width: $md) {
		&__box {
			padding: 0 px-to-rem(100);
		}

		&__title {
			margin: 0 0 px-to-rem(24);
			font-size: px-to-rem(20);
		}

		&__text {
			font-size: px-to-rem(15);
		}

		&__guitar {
			top: auto;
			bottom: px-to-rem(-91);

			left: px-to-rem(-55);
			width: px-to-rem(151);	
		}

		&__mail {
			top: px-to-rem(49);
			right: px-to-rem(-57);
			width: px-to-rem(123);	
		}	
	}

	@media (max-width: $sm) {
		border-bottom: 2px solid $colorPink;
		
		&__box {
			padding: 0 px-to-rem(100);
		}

		&__title {
			font-size: px-to-rem(20);
		}

		&__text {
			font-size: px-to-rem(16);
			font-weight: 400;
			text-transform: uppercase;
		}


		&__guitar {
			top: auto;
			bottom: px-to-rem(-81);

			left: px-to-rem(-45);
			width: px-to-rem(130);	
		}

		&__mail {
			top: auto;
			bottom: px-to-rem(-35);
			right: px-to-rem(-31);
			width: px-to-rem(103);	
		}	
	}


	@media (max-width: $xs) {
		&__box {
			padding: 0 px-to-rem(65);
		}

		&__title {
			font-size: px-to-rem(20);
		}

		&__text {
			font-size: px-to-rem(16);
			font-weight: 400;
			text-transform: uppercase;
			
			&-last-p {
				margin-right: px-to-rem(10);
				margin-left: px-to-rem(10);
			}

		}


		&__guitar {
			top: auto;
			bottom: px-to-rem(-81);

			left: px-to-rem(-25);
			width: px-to-rem(130);	
		}

		&__mail {
			top: auto;
			bottom: px-to-rem(-35);
			right: px-to-rem(-24);
			width: px-to-rem(103);	
		}	
	}



}



.sec-3 {
	padding: px-to-rem(25) 0 px-to-rem(10);
	overflow: hidden;

	background: $colorBg1;
	background-image: linear-gradient(to right, $colorBg1 0%, $colorBg1 50%, $colorBg2 50%, $colorBg2 100%);
	
	&__slider {
		margin: 0 px-to-rem(-115) px-to-rem(17);
		position: relative;

		&-under {
			display: block;
			position: relative;
			height: 3px;	
			max-width: px-to-rem(960);
			margin: 0 auto;
			background: $colorPink;

			&::before {
				content: '';
				position: absolute;
				left: 50%;
				top: 50%;
				width: 12px;
				height: 12px;
				border-radius: 50%;
				margin-left: -1px;
				background: $colorPink;

				transform: translate(-50%, -50%)
			}
		}

		.slick-track {
			left: px-to-rem(10);
		}

		.slick-arrow {
		  position: absolute;
		  z-index: 1;
		  top: 0;
		  margin: 0;
		  width: px-to-rem(120);
		  height: 100%;
		  color: transparent;
		  outline: 0;
		  border: none;
		  box-shadow: none;
		  overflow: hidden;
		  background: 0 0;
		  cursor: pointer;
		}

		
		.slick-prev {
		  right: auto;
		  left: px-to-rem(-10);
		  background: linear-gradient(to right, $colorBg1 0%, $colorBg1 50%, transparentize($colorBg1, 0.8) 80%, transparentize($colorBg1, 1) 100%);
		}

		.slick-next {
		  left: auto;
		  right: px-to-rem(-10);
		  background: linear-gradient(to left, $colorBg2 0%, $colorBg2 50%, transparentize($colorBg2, 0.8) 80%, transparentize($colorBg2, 1) 100%);
		}

		.slick-arrow::before {
		  content: '';
		  position: absolute;
		  top: 50%;
		  
		  display: inline-block;
		  vertical-align: middle;
		  width: px-to-rem(30);
		  height: px-to-rem(30);
		  margin-top: px-to-rem(-20);
		  margin-left: -9px;
		  border: 4px solid #fff;
		  transform: rotate(45deg);
		}

		.slick-prev::before {
			left: 25%;
		  border-top: none;
		  border-right: none;
		  border-color: $colorPink;
		}

		.slick-next::before {
		  left: 67%;
		  border-bottom: none;
		  border-left: none;
		  border-color: $colorBlue;
		}
	}

	&__slides {
		position: relative;
		margin: 0 0 px-to-rem(8);
	}

	&__slide {
		outline: none;

		&-img {
			outline: none;
		}
	}	

	&__main {
		margin: 0 -50vw;
		position: relative;
		text-align: center;

		&-img {
			display: inline-block;
			vertical-align: middle;
			width: px-to-rem(1587);
			max-width: px-to-rem(1587);
			height: auto;
			position: relative;


			margin-left: px-to-rem(35);

		}
	}


	&__links {
		position: relative;
		z-index: 0;

		display: flex;
		justify-content: center;
		width: px-to-rem(665);
		min-height: px-to-rem(154);
		margin: px-to-rem(-3) auto 0;
		padding: px-to-rem(47) 0 0;
		overflow-x: hidden;
		// border-right: 3px solid $colorPink;
		// border-left: 3px solid $colorPink;

		&::before,
		&::after {
			content: '';
			position: absolute;
			bottom: 50%;
			// transform: translateY(-50%);
			height: 200px;
			width: 3px;
			background: $colorPink;
		}
		&::before {
			left: 0;
		}
		&::after {
			right: 0;
		}

		&-box {
			flex-basis: px-to-rem(296);
			display: flex;
			flex-wrap: wrap;
			flex-direction: column;

			align-items: flex-start;
		}
		&-bottom {
			width: 100%;
			display: flex;
			justify-content: space-between;
			padding: 0 px-to-rem(10);
		}

	}

	&__link-1 {
		position: relative;
		display: block;
		z-index: 2;
		width: 100%;
		margin: 0 0 px-to-rem(8);
		padding: px-to-rem(14) px-to-rem(5);
		font-family: $ffIntroBlackCaps;
		font-size: px-to-rem(20);
		line-height: 1.15;
		text-align: center;
		text-decoration: none;
		color: $colorBlue;
		white-space: nowrap;
		border: 3px solid $colorPink;
		background: none;
		outline: none;
		box-shadow: none;
		
		&::before,
		&::after {
			content: '';
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			height: 3px;
			width: 50vw;
			background: $colorPink;
		}
		&::before {
			right: 100%;
		}
		&::after {
			left: 100%;
		}
	}

	&__link-2 {
		display: inline-block;
		vertical-align: middle;
		font-size: px-to-rem(14);
		text-decoration: underline;
		font-family: $ffIntro;
		text-transform: lowercase;
		font-weight: 400;
		color: $colorBlue;
		outline: none;
	}

	&__link-3 {
		display: inline-block;
		vertical-align: middle;
		font-size: px-to-rem(14);
		text-decoration: underline;
		font-family: $ffIntro;
		text-transform: lowercase;
		font-weight: 400;
		color: $colorBlue;
		outline: none;
	}

	@media (max-width: $lg) {
		&__slider {
			.slick-track {
				left: px-to-rem(4);
			}
		}
	}

	@media (max-width: $md) {
		padding-top: px-to-rem(28);
		padding-bottom: px-to-rem(40);

		&__slider {
			margin: 0 px-to-rem(-10) px-to-rem(43);

			&-under {
				max-width: px-to-rem(660);
			}

			.slick-track {
				left: px-to-rem(4);
			}

		}

		&__slides {
			position: relative;
			margin: 0 0 px-to-rem(14);
		}

		&__main {
			&-img {
				width: px-to-rem(800);
				max-width: px-to-rem(800);
				margin-left: px-to-rem(0);
			}
		}


		&__links {
			width: 100%;
			min-height: auto;
			margin: px-to-rem(-60) auto 0;
			padding: 0;

			&::before,
			&::after {
				content: none;
				display: none;
			}

			&-box {
				flex-basis: px-to-rem(339);
			}
			&-bottom {
			}

		}

		&__link-1 {
			padding: px-to-rem(16) px-to-rem(5);
			font-size: px-to-rem(22);
			border: 2px solid $colorPink;
			
			&::before,
			&::after {
				content: none;
				display: none;
			}
		}

		&__link-2 {
			font-size: px-to-rem(16);
		}

		&__link-3 {
			font-size: px-to-rem(16);
		}
	}


	@media (max-width: $sm) {
		padding-top: px-to-rem(28);
		padding-bottom: px-to-rem(40);

		&__slider {
			margin: 0 px-to-rem(-10) px-to-rem(25);

			
			&-under {
	
				height: 2px;	
				max-width: px-to-rem(460);

				&::before {
					content: '';
					width: 8px;
					height: 8px;
					margin-left: -1px;
				}
			}

			.slick-track {
				left: px-to-rem(4);
			}

			.slick-next {
				right: px-to-rem(-25);
			}

			.slick-arrow::before {
		 		content: '';
			  margin-left: -9px;
			  border: 3px solid #fff;
			}

			.slick-prev::before {
			  border-top: none;
			  border-right: none;
			  border-color: $colorPink;
			}

			.slick-next::before {
			  border-bottom: none;
			  border-left: none;
			  border-color: $colorBlue;
			}

		}

		&__slides {
			position: relative;
			margin: 0 0 px-to-rem(14);
		}

		&__main {
			&-img {
				width: px-to-rem(700);
				max-width: px-to-rem(700);
			}
		}


		&__links {
			width: 100%;
			min-height: auto;
			margin: px-to-rem(-70) auto 0;
			padding: 0;
		

			&-box {
				flex-basis: px-to-rem(380);
			}
			&-bottom {
			}

		}

		&__link-1 {
			padding: px-to-rem(18) px-to-rem(10);
			font-size: px-to-rem(24);
		}

		&__link-2 {
			font-size: px-to-rem(18);
		}

		&__link-3 {
			font-size: px-to-rem(18);
		}
	}


	@media (max-width: $xs) {

		&__slides {
			position: relative;
			margin: 0 0 px-to-rem(14);
		}

		&__main {
			&-img {
				width: px-to-rem(630);
				max-width: px-to-rem(630);
			}
		}


		&__links {
			width: 100%;
			min-height: auto;
			margin: px-to-rem(-70) auto 0;
			padding: 0;
		

			&-box {
				flex-basis: px-to-rem(380);
			}
			&-bottom {
			}

		}

		&__link-1 {
			padding: px-to-rem(18) px-to-rem(10);
			font-size: px-to-rem(24);
		}

		&__link-2 {
			font-size: px-to-rem(18);
		}

		&__link-3 {
			font-size: px-to-rem(18);
		}
	}


}




.footer {
	padding: px-to-rem(38) 0;
	background: #fff;

	&__row {
		position: relative;
		padding: 0 px-to-rem(10) 0 px-to-rem(80);
		display: flex;
	}
	&__col-1 {
		width: px-to-rem(300);
		min-width: px-to-rem(300);
		padding-right: px-to-rem(40);
	}


	&__logo {
		width: px-to-rem(235);
		display: inline-block;
		vertical-align: middle;
		margin: 0 0 px-to-rem(45);

		&-img {
			width: 100%;
			height: auto;
		}
	}

	&__copy {
		font-family: $ffIntro;
		font-weight: 400;
		font-size: px-to-rem(14);
		color: $colorBlue;
		text-align: left;	
	}

	&__text {
		font-size: px-to-rem(13);
		font-weight: 400;
		text-transform: uppercase;
	}

	@media (max-width: $md) {
		&__row {
			padding: 0;
		}
	}

	@media (max-width: $sm) {
		&__row {
			padding: 0;
		}
		&__col-1 {
			width: px-to-rem(220);
			min-width: px-to-rem(220);
			padding-right: px-to-rem(20);
		}

		&__logo {
			width: px-to-rem(190);
			display: inline-block;
			vertical-align: middle;
			margin: 0 0 px-to-rem(45);

			&-img {
				width: 100%;
				height: auto;
			}
		}
		&__text {
			font-size: px-to-rem(14);
		}
	}
}



.fancybox-dns {

	.fancybox-bg {
		opacity: 0;
	}

	.fancybox-inner {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 0;
	}

	.fancybox-stage {
		height: 90vh;
		width: 80vw;
		padding: 0;

		border: 3px solid $colorPink;
		top: auto;
		right: auto;
		bottom: auto;
		left: auto;
		background: #fff;
		box-shadow: 7px 7px 10px 0px rgba(0, 0, 0, 0.15);
	}

	.fancybox-slide {
		padding: 0;
		background: #fff;
	}

	.fancybox-toolbar {
		margin: px-to-rem(5) px-to-rem(5) 0 0 ;
	}

	.fancybox-button--close {
		background: none;
		width: px-to-rem(60);
		height: px-to-rem(60);
		color: $colorPink;
	}

	.fancybox-button--arrow_left,
	.fancybox-button--arrow_right {
		margin: 0;
		background: none;
		opacity: 1;
		outline: none;;


		div {
			display: none;
		}
	}

	.fancybox-button--arrow_left::before,
	.fancybox-button--arrow_right::before {
	  content: '';
	  position: absolute;
	  top: 50%;
	  
	  display: inline-block;
	  vertical-align: middle;
	  width: px-to-rem(30);
	  height: px-to-rem(30);
	  margin-top: px-to-rem(-20);
	  margin-left: -9px;
	  border: 4px solid #fff;
	  transform: rotate(45deg);
	}

	.fancybox-button--arrow_left::before {
		left: 60%;
	  border-top: none;
	  border-right: none;
	  border-color: $colorPink;
	}

	.fancybox-button--arrow_right::before {
	  left: 30%;
	  border-bottom: none;
	  border-left: none;
	  border-color: $colorBlue;
	}

	@media (max-width: $sm) {

		.fancybox-stage {
			height: 95vh;
			width: 95vw;
			border: 2px solid $colorPink;
		}
		.fancybox-toolbar {
			margin: 0;
		}

		.fancybox-button--close {
			width: 40px;
			height: 40px;
			padding: 5px;
		}
		
		.fancybox-button--arrow_left::before,
		.fancybox-button--arrow_right::before {
		  border: 3px solid #fff;

		}

		.fancybox-button--arrow_left::before {
			left: 30%;
			border-top: none;
			border-right: none;
			border-color: $colorPink;
		}

		.fancybox-button--arrow_right::before {
		  left: 72%;
			border-bottom: none;
		  border-left: none;
		  border-color: $colorBlue;
		}

	}

}












